
*{
      box-sizing: border-box;
      font-family: "Brother", Arial, sans-serif;
}

/* Estilo base para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
  background-color: var(--negro); /* Fondo transparente */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #c6a8573f;
  /* Fondo transparente */
}

/* Estilo para el mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  position: relative;
  background-color: var(--amarillo); /* Color naranja */
  border-radius: 4px; /* Borde redondeado */
}

/* Estilo para la barra de desplazamiento cuando está activa (se hace scroll) */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--naranja); /* Color más oscuro al hacer hover */

}
html{
  scroll-behavior: smooth;
}


@keyframes entradaelementos {
	0% {
		opacity: 0;
    scale: 0.5;
	}

	100% {
		opacity: 1;
    scale: 1;
	}
}




/*tipografia*/
@font-face {
  font-family: brother;
  src: url(../recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
  font-style: italic;
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: brother;
  src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: brother;
  src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: brother;
  src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: brother;
  src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
  font-style: italic;
  font-display: swap;
  font-weight: 900;
}

/*texto*/
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
  line-height: 40px;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 20px;
  font-size: 1.5em;
  text-decoration: none;
  
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}

a{
  text-decoration: none;
}
/*variables*/
:root {
  --h1: 3em;
  --h2: 2em;
  --h3: 1.5em;
  --p: 1em;
  --negro: #1d1d1d;
  --blanco: #eadec4;
  --amarillo: #c6a857;
  --naranja: #ed8e6a;
  --azul: #a7d5f3;
  --trasparente: transparent;
  --font-family: "Brother", Arial;
}

body{
  background-color: var(--blanco);
  display: block;
  margin: 0;
}

main{
  margin: auto;
  width: 100%;
  position: relative;
    
}

section{
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 0px 51px 0px #00000041;
}

.contenedor{
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: Montserrat, sans-serif;
  position: relative;
  top: 0;
  left: auto;
  right: auto;

}

/*navegador*/
nav{
  background-color: var(--negro);
  z-index: 999;
  width: 100%;
  height: 60px;
  font-family: var(--font-family);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.navegador{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #c6a85760;
  height: 60px;

}
.volver{
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
}
.volver svg{
  height: 20px;
  width: 20px;
  fill: var(--blanco);
  transition: all 0.2s;
}
.volver svg:hover{
  fill: var(--amarillo);
}
.icono svg {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  fill: var(--blanco);
  transition: all 0.2s;
}

.icono svg:hover{
  fill: var(--naranja);

}

.navegador p{
  font-family: var(--h2);
  color: var(--blanco);
  font-style: italic;
}

/***********************main proyecto**********************************************/
@font-face {
  font-family: LeagueSpartan;
  src: url(./recursos/LeagueSpartan-VariableFont_wght.ttf) format('truetype');
}
.titulo {
  margin-bottom: 0px;
  font-family: "LeagueSpartan", "sans-serif";
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 800;
}
.subtitulo {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "LeagueSpartan", "sans-serif";
  font-size: 2em;
  line-height: .8em;
}
.subtitulo.margen-superior {
  margin-top: 60px;
}
.encabezado {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "LeagueSpartan", "sans-serif";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
}
.encabezado.margen-superior {
  margin-top: 40px;
  font-size: 1.8em;
}
.parrafo {
  margin-top: .5em;
  font-family: "LeagueSpartan", "sans-serif";
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
}
.span-parrafo {
  font-weight: 700;
}
.span-parrafo.titulo-colores {
  text-align: center;
  margin-bottom: 0;
}
.parrafo.codigo-colores {
  text-align: center;
}

img {
  vertical-align: middle;
    width: 100%;
    height: auto;
    display: inline-block;
}

.cabecera {
  vertical-align: middle;
    width: 100%;
    height: auto;
    display: inline-block;
}


.hero {
  display: flex;
  flex-direction: row;
  margin-top: -5px;
}
.columna-1-hero {
  width: 60%;
  padding: 40px 40px 0;
}
.logotipo-hero {
    width: 300px;
    margin-bottom: 10px;
}
.columna-2-hero {
    text-align: left;
    flex: 0 auto;
    width: 40%;
    margin-left: auto;
}
.img-hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.moodboard {
  border-top: 3px solid #402e27;
}

.colores {
  grid-column-gap: 180px;
  grid-row-gap: 20px;
  background-image: url(./imagenes/fondo-colores-p-500.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: flex;
}
.contenedor-color {
  background-color: #fff;
  border-radius: 20px;
  width: 200px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.color{
  border-radius: 16px;
  height: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}
.marmol-claro{
  background-color: #d9ccc1;
}
.piel{
  background-color: #bf8f73;
}
.arcilla{
  background-color: #a66953;
}
.tierra{
  background-color: #402e27;
}
.marmol-oscuro{
  background-color: #23201d;
}

.logotipo {
    background-color: #fff;
    padding: 40px;
    display: flex;
}
.icono {
    max-width: 600px;
    display: block;
}
.area-logotipo {
    max-width: 600px;
}
.imagen-logotipo {
    text-align: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.galeria {
    padding: 40px;
}
.bento-galeria {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: 0;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 0;
    display: grid;
    overflow: hidden;
}

.bento-card {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.bento-imagen {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#bentoCard-1 {
    grid-area: span 2 / span 1 / span 2 / span 1;
}
#bentoCard-2 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}
#bentoCard-3 {
    grid-area: span 2 / span 2 / span 2 / span 2;
}
#bentoCard-4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}
#bentoCard-5 {
    grid-area: span 2 / span 2 / span 2 / span 2;
}
#bentoCard-6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}
#bentoCard-7 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}


@media screen and (max-width: 991px){

  .img-hero {
    max-width: none;
    height: 100%;

  }
  .columna-2-hero {
    overflow: hidden;
  }
  .columna-1-hero {
    width: 100%;
  }
  .colores {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .bento-galeria {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767px){
  .colores {
    grid-column-gap: 27px;
    grid-row-gap: 27px;
  }
  .area-logotipo {
    margin-top: 20px;
  }
  .logotipo {
    flex-flow: column;
  }
  .bento-galeria {
    grid-column-gap: 8px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #bentoCard-1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #bentoCard-2, #bentoCard-3 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
  #bentoCard-4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #bentoCard-5 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
  #bentoCard-6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
  #bentoCard-7 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

}
@media screen and (max-width: 479px){
  .img-hero {
    margin-left: 0;
  }
  .columna-2-hero {
    width: 100%;
    margin-left: 0;
  }
  .columna-1-hero {
    padding: 10px;
  }
  .hero {
    flex-flow: column-reverse;
  }
  .contenedor-color {
    width: 170px;
  }
  .colores {
    padding: 10px;
  }
  .logotipo {
    padding: 10px;
  }
  .galeria {
    padding: 10px;
  }
  .bento-galeria {
    grid-template-columns: 155px 1.75fr;
  }
  #bentoCard-1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #bentoCard-2 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #bentoCard-3 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
  #bentoCard-4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #bentoCard-5, #bentoCard-6, #bentoCard-7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }



}


/***********************main proyecto**********************************************/



