@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Thin.ttf) format('truetype');
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
}

h1 {
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}


:root {
    --negro: #1d1d1d;
    --blanco: #eadec4;
    --amarillo: #c6a857;
    --naranja: #ed8e6a;
    --azul: #a7d5f3;
    --trasparente: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

nav{
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    
    padding: 14px;
}

.movil{
    display: none;
}

.escritorio ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none; 
}

.logotipo svg{
    margin-top: 2px;
    height: 20px;
    fill: var(--amarillo);
    

}



nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    mix-blend-mode: difference;
}

nav a.activo{
    font-weight: 700;
    font-style: italic;
}

.boton-descarga svg{
    height: 20px;
    fill: var(--naranja);
}


/**/
main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100dvh;
    width: 100dvw;
}
main::-webkit-scrollbar {
    display: none; 
}
section{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    scroll-snap-align: start;
    /*box-shadow: 0px 70px 57px -20px var(--negro) inset;*/
}
.hero{
    /*background-color: var(--negro);*/
    background-image: url(/proyectos/mahou/imagenes/camion.webp);
}
.claim{
    background-color: var(--naranja);
}
.proyectos{
    background-color: var(--blanco);
}
.skills{
    background-color: var(--amarillo);
}
.sobre-mi{
    background-color: var(--azul);
}
.contacto{
    background-color: var(--negro);
}
/**/


@media screen and (max-width: 520px) {

    .escritorio{
        display: none;
    }

    .movil{
        padding: 5px;
        display: flex;
        flex-direction: column;
        list-style-type: none; 
        width: 100%;
    }
    .movil .navegador{
        list-style-type: none; 
        display: flex;
        justify-content: space-between;
        width: 100%;
        mix-blend-mode: difference;
    }

    .movil .enlaces.abierto{
        box-shadow: -1px 1px 4px 0px #000000;
        list-style-type: none; 
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #424040c7;
        position: fixed;
        height: 300px;
        width: 200px;
        border-radius: 5px 0px 0px 5px;
        right: 0px;
        top: 50px;
        transition:  0.5s ease-in-out;
        backdrop-filter: blur(5px);
    }

    .movil .enlaces{
        list-style-type: none; 
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        height: 300px;
        width: 200px;
        border-radius: 5px 0px 0px 5px;
        right: -200px;
        top: 50px;
        transition:  0.5s ease-in-out;
    }

    .movil .enlaces-interes{
        color: var(--blanco);
        font-family: "Brother", Arial, sans-serif;
        font-size: 10px;
        font-weight: 100;
        text-align: end;
        font-style: italic;
    }

    nav a.activo{
    font-weight: 700;
    font-style: italic;
}

    .movil .rrss{
        border-top: solid 1px var(--blanco);
        border-bottom: solid 1px var(--blanco);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: normal;
    }

    .movil .rrss a{
        margin-top: 0px;
        font-weight: 400;
    }

    .descargaCv{
        display: flex;
        justify-content: center;
    }

    .boton-descarga svg{
    height: 25px;
}

    .rrss a{
        font-size: 13px;
    }

    .boton-menu {
    margin-top: 4px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    text-align: end;
    mix-blend-mode: difference;
    }

    .logotipo svg{
        height: 28px;
    }
    
}
