@keyframes entrada-hero {
	0% {
		transform: scaleY(0);
		transform-origin: 0% 100%;
        opacity: 0;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
        opacity: 1;
	}
}

@keyframes entrada-suave-abajo {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes entrada-suave-arriba {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes entrada-suave-derecha {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes entrada-suave-izquierda {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes entrada {
	0% {
		transform: scale(0);
        opacity: 0;
	}

	100% {
		transform: scale(1);
        opacity: 1;
	}
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Thin.ttf) format('truetype');
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
}

h1 {
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}

a {
    text-decoration: none;
}

:root {
    --negro: #1d1d1d;
    --blanco: #eadec4;
    --amarillo: #c6a857;
    --naranja: #ed8e6a;
    --azul: #a7d5f3;
    --trasparente: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: hidden;
    background-color: var(--negro);
}

.nav-var-scroll{
    width: 15px;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
    padding: 5px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 0;
    animation: entrada-suave-derecha .5s ease 1s 1 normal forwards;
    mix-blend-mode: difference;
    
}

.puntos-scroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    mix-blend-mode: color;
    mix-blend-mode: difference;
}

.puntos-scroll div{
    height: 10%;
    width: 5px;
    background-color: var(--amarillo);
    margin: 3px 0px;
    border-radius: 5px 5px 5px 5px;
    transition:  0.5s ease-in-out;
    
}

.puntos-scroll div.activo{
    height: 100%;
    border: solid 1.5px var(--amarillo);
    background-color: var(--trasparente);
}

div.puntoHero{
    margin-bottom: 3px;
    border-radius: 5px 5px 0px 0px;
} 

div.puntoClaim{
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.flecha-subir{
    display: flex;
    
    transition:  0.5s ease-in-out;
}

.flecha-subir .borde{
    mix-blend-mode: difference;
    height: 100%;
    min-height: 40px;
    border-right: var(--amarillo) solid 1.5px;
}

.flecha-subir.focus{
    
    transition:  0.3s ease-in-out;
}

.flecha-pie{
    height: 100px;
    width: 200px;
    border-right: var(--amarillo) solid 1.5px;
    border-bottom: var(--amarillo) solid 1.5px;
    transition:  0.5s ease-in-out;
    pointer-events: none;
    mix-blend-mode: difference;
}

.flecha-pie.focus{
    height: 30px;
    transition:  0.3s ease-in-out;
}

nav{
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding: 14px;
    z-index: 3;
    
}

.movil, .enlaces{
    display: none;
}

.escritorio ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none; 
    
}

.logotipo svg{
    margin-top: 5px;
    height: 20px;
    fill: var(--amarillo);
    opacity: 0;
    animation: entrada-suave-arriba .5s ease .1s 1 normal forwards;
}



nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    
    opacity: 0;
    animation: entrada-suave-arriba .5s ease .3s 1 normal forwards;
}

nav a.activo{
    font-weight: 700;
    font-style: italic;
}

.boton-descarga svg{
    height: 25px;
    fill: var(--naranja);
    opacity: 0;
    animation: entrada-suave-arriba .5s ease .5s 1 normal forwards;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.boton-descarga svg:hover{
    height: 25px;
    fill: var(--amarillo);
    opacity: 0;
    animation: entrada-suave-arriba .5s ease .5s 1 normal forwards;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}


/**/
main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100dvh;
    width: 100dvw;
    position: static;
    z-index: -4;
}
main::-webkit-scrollbar {
    display: none; 
}
section{
    height: 100dvh;
    width: 100dvw;
    padding: 10px;
    padding-top: 30px;
    scroll-snap-align: start;
    position: relative;
    z-index: 1;
}

.hero{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 100px;
}

.hero h2{
    color: var(--trasparente); 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: var(--blanco);
    white-space: normal;
    font-size: 5em;
    line-height: 1em;
    width: fit-content;
    
}

.hero h1{
    width: fit-content;
    opacity: 0;
    color: var(--blanco);
    white-space: normal;
    font-size: 5em;
    line-height: 1em; 
}

.hero h1.uno{

    animation: entrada-hero .5s ease .5s 1 normal forwards;
}

.hero h1.dos{
    animation: entrada-hero .5s ease .8s 1 normal forwards;
}

.hero h1.tres{
    animation: entrada-hero .5s ease 1s 1 normal forwards;
}

.hero h1.uno span{
    color: var(--azul);
}

.hero h1.dos span{
    color: var(--amarillo);
}

.hero h1.tres span{
    color: var(--naranja);
}


.estatica-fondo-oscuro {
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: .15;
  mix-blend-mode: overlay;
  background-image: url("/recursos/imagenes/textura-ruido.webp");
  background-position: 50%;
  background-repeat: no repeat;
  background-size: auto;
  margin-right: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
} 
.avatar-hero{
    pointer-events: none;
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    animation: entrada-suave-abajo 1s ease 1s 1 normal forwards;
}
.rrss-container{
    width: fit-content;
    grid-column-gap: 100px;
    grid-row-gap: 32px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: entrada 1s ease 1s 1 normal forwards;
}
.rrss-container svg{
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    height: 50px;
    transition: all ease-in-out .2s;
    border: solid 2px var(--blanco);
    border-radius: 50%;
    .cls-1{fill:var(--blanco);}
    .cls-2{fill:var(--trasparente);
    }
}   

.rrss-container svg:hover{
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    border-radius: 50%;
    border: solid 2px var(--trasparente);
    .cls-1{fill:var(--negro);}
    .cls-2{fill:var(--blanco);
    }
  
}
.claim{
    background-image: radial-gradient(#ed8e6a, #cf6a49);   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    overflow: hidden;
}

.claim .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

@media (min-aspect-ratio: 1/0.95) {
    .claim .horizontal {
        position: relative;
        display: block;
        height: 100%;
        width: 100%; 
        object-fit: cover;
        object-position: center; 
        pointer-events: none;
    }
    .claim .vertical {
    display: none;
    }
}

@media (max-aspect-ratio: 1/0.95) {
    .claim .vertical {
        position: relative;
        display: block;
        height: 100%;
        width: 100%; 
        object-fit: cover;
        object-position: center; 
        pointer-events: none;
    }
    .claim .horizontal {
    display: none;
    }
}

.proyectos{
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    color: var(--negro);
}

.proyectos h3{
    width: fit-content;
    animation: entrada 1s ease 0s 1 normal forwards;
    opacity: 0;
    color: var(--negro);
    white-space: normal;
    font-size: 5em;
    line-height: 1em; 
}

.proyectos p{
    font-weight: 400;
    text-align: center;
}

.proyectos a{
    background-color: var(--negro);
    height: 50px;
    color: var(--blanco);
    border: solid 2px var(--negro);
    font-family: "Brother", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 30px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}
.proyectos span{
    font-weight: 400;
    font-style: italic;
}
.proyectos a:hover{
    background-color: var(--blanco);
    color: var(--negro);
    border: solid 2px var(--negro);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    
}


.skills{
    padding: 0px;
    position: relative;
    overflow: hidden;
    background-color: var(--negro);
}
.skills iframe{
    width: 100%; 
    height: calc(100dvh - 150px);
}
.skills .scroll-arriba{
    width: 100%;
    height: 100px;
    background-color: var(--blanco);
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 50px;
}

.skills .scroll-abajo{
    width: 100%;
    height: 50px;
    margin-top: -5px;
    background-color: var(--azul);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

a.scroll {
    text-decoration: none; 
}

.skills p{
    color: var(--negro);
    font-weight: 900;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 10px;
    margin: 0px;
    line-height: 14px;
}

.sobre-mi{
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--negro);
    overflow: hidden;
    padding-right: 20px;
}

.sobre-mi img{
    width: 50%;
    max-width: 900px;
    max-height: 900px;
    filter: saturate(151%);
}

.sobre-mi .contenido{
    max-width: 600px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}
.sobre-mi p{
    font-weight: 400;
    
}
.sobre-mi span{
    font-weight: 600;
}

.cara-sol {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
}

.sol {
    width: 600px; 
    height: 600px; 
    border-radius: 50%;
    background: #d89f04;
    box-shadow: inset 2px -4px 18px rgba(0, 0, 0, 0.199);
    position: absolute;
    top: -200px;
    left: -200px;
   
}


.contacto{
    background-color: var(--negro);
    padding-right: 20px;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.p-contacto {
    max-width: 800px;
    color: var(--blanco);
    font-size: var(--p);
    margin: 0 auto 20px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
}
.p-contacto span{
    font-weight: 600;
}

.iconos-contacto {
  height: 30px;
  
}
.enlace-contacto{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-weight:400;
    display: flex;
    opacity: 1;
}
.enlace-contacto:hover{
    opacity: 0.8;
    transition: all ease .2s;
}

.link-mail {
  color: var(--blanco);
  justify-content: flex-start;
  align-items: center;
  line-height: 30px;
  
}

.link-telefono {
  color: var(--blanco);
  justify-content: flex-start;
  align-items: center;
  line-height: 40px;
  
}



.redes {
    z-index: 1;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}
.icono-redes {
    display: block;
    height: 20px;
    opacity: 1;
    transition: all ease .2s;
}
.icono-redes:hover{
  opacity: 0.8;
}

.feedback {
    width: 100%;
    max-width: 800px;
    border-radius: 0;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: "Brother", Arial, sans-serif;
    
}

.form-block {
    background-color: var(--blanco);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    display: block;
    position: relative;
    overflow: hidden;
}

.form {
    z-index: 1;
    background-color: var(--trasparente);
    
    padding: 10px 31px;
    position: relative;
    overflow: visible;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.field-label {
    text-align: center;
    margin-bottom: 0;
    line-height: 40px;
}

.textarea {
    font-family: "Brother", Arial, sans-serif;
    border-radius: 5px;
    min-height: 75px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.submit-button {
    width: 150px;
    height: 40px;
    border: 2px solid var(--negro);
    background-color: var(--negro);
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: 800;
    font-style: italic;
    line-height: 10px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    display: block;
    position: static;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

.submit-button:hover {
    background-color: var(--trasparente);
    box-shadow: none;
    color: var(--negro);
    border-style: solid;
}

.text-block-10, .text-block-9 {
    color: var(--negro);
    line-height: 20px;
    font-weight: 600;
}

.success-message {
    height: 100%;
    background-color: #a2dda4;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.error-message {
    background-color: #e9afaf;
    padding: 10px;
}

.creditos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.creditos p{
    font-weight: 200;
    font-size: 12px;
}

/**/
@media screen and (max-width: 900px){
    .sol{
        width: 300px;
        height: 300px;
        top: -100px;
        left: -100px;
    }
    .sobre-mi img{
        top: 70px;
        position: absolute;
        right: 20px;
        height: auto;
        width: 60%;
    }
    .sobre-mi{
    flex-direction: column-reverse;   
        align-items: flex-start;
    }
    .hero h2{
    font-size: 4em;
}

.hero h1{
    font-size: 3em;
}
.avatar-hero{
    width: 50%;
}
.rrss-container{
    grid-column-gap: 60px;
}
}

@media screen and (max-width: 700px) {
    .sol{
        width: 200px;
        height: 200px;
        top: -50px;
        left: -50px;
    }
    .avatar-hero{
        width: 65%;
    }

    .hero{
        padding-bottom: 20px;
    }

    .rrss-container{
    margin-top: 20px;
    width: fit-content;
    grid-column-gap: 100px;
    grid-row-gap: 32px;
    display: grid;
}

    .escritorio{
        display: none;
    }

    #boton-menu{
        opacity: 0;
        animation: entrada-suave-derecha .5s ease .5s 1 normal forwards;
    }
    .movil{
        padding: 5px;
        display: flex;
        flex-direction: column;
        list-style-type: none; 
        width: 100%;
    }


    .movil .navegador{
        list-style-type: none; 
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }

    .enlaces.abierto{
        box-shadow: -1px 1px 4px 0px #0000001a;
        list-style-type: none; 
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;
        width: 200px;
        border-radius: 5px 0px 0px 5px;
        right: 5px;
        top: 50px;
        transition:  0.5s ease-in-out;
        background-color: var(--amarillo);
        mix-blend-mode: unset;
    
    }
    .enlaces.abierto a{
        color: #1d1d1d;
       font-weight: 700;
    }
    .enlaces.abierto::before{
        filter: blur(10px) contrast(200%) hue-rotate(90deg) saturate(300%);
    }

   .enlaces{
        list-style-type: none; 
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        height: 0px;
        width: 0px;
        border-radius: 5px 0px 0px 5px;
        margin: 10px 0px;
        transition:  0.5s ease-in-out;
    }

    .enlaces-interes{
        color: var(--negro);
        font-family: "Brother", Arial, sans-serif;
        font-size: 10px;
        font-weight: 100;
        text-align: end;
        font-style: italic;
    }

    .enlaces.abierto a.activo{
    font-weight: 400;
    font-style: italic;
    
}

    .rrss{
        border-top: solid 1px var(--negro);
        border-bottom: solid 2px var(--negro);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: normal;
    }

    .rrss a{
        margin-top: 0px;
        font-weight: 400;
    }

    .descargaCv{
        display: flex;
        justify-content: center;
    }

    .boton-descarga svg{
    height: 25px;
}

    .rrss a{
        font-size: 13px;
    }

    .boton-menu {
    margin-top: 4px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    text-align: end;
    
    }

    .logotipo svg{
        height: 28px;
    }
    
}

@media screen and (max-width: 500px){
    .sol{
        width: 100px;
        height: 100px;
        top: 40px;
        left: 20px;
    }

    .hero h2{
    font-size: 3em;
    }

    .hero h1{
    font-size: 2em;
    }
    .avatar-hero{
        width: 90%;
    }
}