@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Thin.ttf) format('truetype');
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
}

h1 {
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
  line-height: 0.9;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}


:root {
    --h1: 3em;
    --h2: 2em;
    --h3: 1.5em;
    --p: 1em;
    --negro: #1d1d1d;
    --blanco: #eadec4;
    --amarillo: #c6a857;
    --naranja: #ed8e6a;
    --azul: #a7d5f3;
    --trasparente: transparent;
    --font-family: "Brother", Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100dvh;
    width: 100dvw;
}
.no-scroll {
    overflow: hidden;
}

main::-webkit-scrollbar {
    display: none; 
}
section{
    height: 100dvh;
    width: 100dvw;
    
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
    /*box-shadow: 0px 70px 57px -20px var(--negro) inset;*/
}

.disenio-grafico{
    background-color: var(--amarillo);
}
.ux-ui{
    background-color: var(--naranja);
}
.desarrollador{
    background-color: var(--azul);
}

.nombre-proyecto.uno {
    background-color: var(--negro);
}
.nombre-proyecto.dos {
    background-color: var(--azul);
}
.nombre-proyecto.tres {
    background-color: var(--amarillo);
}

nav{
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding: 14px 5px 0px 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    mix-blend-mode: difference;
    z-index: 2;
}
nav span{
    font-style: italic;
}

nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer
}

nav p{
    color: var(--blanco);
    font-weight: 200;

}

nav .var{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    border: solid 1.5px var(--amarillo);
    border-bottom: none;
    border-left: none;
    padding-right: 9px;
}

.nav-var-scroll{
    width: 30px;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
    padding: 5px;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    mix-blend-mode: difference;
}

.puntos-scroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
}

.puntos-scroll div{
    height: 10%;
    width: 5px;
    background-color: var(--amarillo);
    margin: 3px 0px;
    border-radius: 5px 5px 5px 5px;
    transition:  0.5s ease-in-out;
}

.puntos-scroll div.activo{
    height: 100%;
    border: solid 1.5px var(--amarillo);
    background-color: var(--trasparente);
}

.flecha-pie{
    height: 50px;
    margin-top: 3px;
    border-right: var(--amarillo) solid 1.5px;
    transition:  0.5s ease-in-out;
}

.marca-agua{
    margin: 14px;
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    align-items: end;
    position: absolute;
    height: 20px;
    mix-blend-mode: difference;
    z-index: 15;
    
}

.titulo-portada{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 14px;
    margin-right: 40px;
    color: var(--amarillo);
    mix-blend-mode: difference;
    z-index: 10;
}

.contenido-portada{
    margin-bottom: 15px;
    max-width: 600px;
    padding: 14px;
    margin-left: -14px;
    
}


.caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18px;
    gap: 5px;
    width: 220px;
    font-size: 1em;
    align-items: center; 
    mix-blend-mode: difference;
}


p.caracteristicas{
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--amarillo);
}


.contenido-portada button{
    background-color: var(--amarillo);
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    mix-blend-mode: difference;
    font-family: "Brother", Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: var(--negro);
    border:var(--amarillo) solid 2px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.contenido-portada span{
    font-style: italic;
    font-weight: 600;

}

.contenido-portada button:hover{
    background-color: var(--trasparente);
    color: var(--amarillo);
}

.modal-proyecto{
    background-color: #1d1d1dc7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 14px;
    padding-top: 40px;
    padding-bottom: 35px;
    display: block;
    transition:  0.4s ease-in-out;
    display: flex;
    justify-content: center;
}

.modal-proyecto.oculto{
    opacity: 0;
    scale: 0;
    visibility: hidden;
    
    
}


.modal-proyecto iframe{
    box-shadow: 0px 0px 7px 1px #0000008f;
    overflow: hidden;
    width: 100%;
    
    height: 100%;
    border-radius: 8px;
    
}

.modal-proyecto .titulo{
    position: absolute;
    top: 14px;
    margin-bottom: 0px;
    color: var(--blanco);
    left: 14px;
}

.modal-proyecto span{
    font-weight: 200;
    font-style: italic;
}

.modal-proyecto button{
    position: absolute;
    top: 20px;
    right: 14px;
    border: 0px;
    display: flex;
    gap: 2px;
    background-color: var(--trasparente);
    font-weight: 700;
    color: var(--blanco);
    align-items: flex-end;
    cursor: pointer;
}


.modal-proyecto button span{
    font-size: 10px;
    font-weight: 200;
}

.modal-proyecto .rrss{
    color: var(--amarillo);
    font-family: "Brother", Arial, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
    position: absolute;
    left: 14px;
    bottom: 10px;
}

.modal-proyecto .rrss a{
    color: var(--amarillo);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
}

.portada {
  position: absolute;
  width: 100%;
  height: 100%;
}

.caja img {
    border-radius: 5px;
    filter: drop-shadow(0px 1px 3px #00000083);
}

.caja video {
    border-radius: 5px;
    filter: drop-shadow(0px 1px 3px #00000083);
    width: 101%;
    height: auto;
}

/* Estilo para las cajas e iconos */
.caja, .icono {
  position: absolute;
  transition: all 0.5s ease;
  filter: drop-shadow(0px 1px 3px #0000005b);
}

.caja img, .icono img {
  width: 100%;
  height: auto;
}

/* Animación de flotación */
@keyframes flotar {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(5px);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(10px) translateX(-5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}


@keyframes aparecer {
  0% {
    transform: scale(0); /* Escala inicial: 0 */
    opacity: 0; /* Opacidad inicial: 0 */
  }
  100% {
    transform: scale(1); /* Escala final: tamaño normal */
    opacity: 1; /* Opacidad final: completamente visible */
  }
}


.caja, .icono {
 /* Escala inicial: 0 */
    animation: flotar 10s ease-in-out infinite;
}

.caja img, .caja video, .icono img {
    opacity: 0;
    transform: scale(0); /* Escala inicial: 0 */
    animation: aparecer 1s ease-in-out forwards;
}


.primera { animation-delay: 0s; }
.primera img { animation-delay: 0s; }
.segunda { animation-delay: .5s; }
.segunda img { animation-delay: .2s; }
.tercera { animation-delay: 1s; }
.tercera img { animation-delay: .4s; }
.cuarta { animation-delay: 1.5s; }
.cuarta img { animation-delay: .6s; }
.quinta { animation-delay: 2s; }
.quinta img { animation-delay: .8s; }

.primer-icono { animation-delay: 1s; }
.primer-icono img { animation-delay: 1s; }
.segundo-icono { animation-delay: 1.5s; }
.segundo-icono img { animation-delay: 1.1s; }
.tercer-icono { animation-delay: 2s; }
.tercer-icono img { animation-delay: 1.2s; }
.cuarto-icono { animation-delay: 2.5s; }
.cuarto-icono img { animation-delay: 1.3s; }

/* Posiciones iniciales de las cajas e iconos */
.primera { top: 5%; left: 30%; width: 30%; }
.segunda { top: 10%; left: 15%; width: 25%; }
.tercera { top: 70%; left: 55%; width: 20%; }
.cuarta { top: 5%; left: 58%; width: 15%; }
.quinta { top: 50%; left: 15%; width: 15%; }

.primer-icono { top: calc(30% + 0px); left: 25%; width: 5%; max-width: 30px; }
.segundo-icono { top: calc(30% + 45px); left: 25%; width: 5%; max-width: 30px; }
.tercer-icono { top: calc(30% + 90px); left: 25%; width: 5%; max-width: 30px; }
.cuarto-icono { top: calc(30% + 135px); left: 25%; width: 5%; max-width: 30px; }



@media (max-width: 1280px){
    
    .primera { top: 5%; left: 30%; width: 30%; }
    .segunda { top: 10%; left: 15%; width: 25%; }
    .tercera { top: 70%; left: 55%; width: 20%; }
    .cuarta { top: 5%; left: 58%; width: 15%; }
    .quinta { top: 58%; left: 23%; width: 14%; }

    .primer-icono { top: calc(30% + 0px); left: 25%; width: 5%; max-width: 30px; }
    .segundo-icono { top: calc(30% + 45px); left: 25%; width: 5%; max-width: 30px; }
    .tercer-icono { top: calc(30% + 90px); left: 25%; width: 5%; max-width: 30px; }
    .cuarto-icono { top: calc(30% + 135px); left: 25%; width: 5%; max-width: 30px; }
}

@media (max-width: 884px){
    
    .primera { top: 5%; left: 30%; width: 50%; }
    .segunda { top: 10%; left: 15%; width: 25%; }
    .tercera { top: 70%; left: 55%; width: 40%; }
    .cuarta { top: 8%; left: 70%; width: 25%; }
    .quinta { top: 55%; left: 18%; width: 24%; }

    .primer-icono { top: calc(30% + 0px); left: 25%; width: 5%; max-width: 30px; }
    .segundo-icono { top: calc(30% + 45px); left: 25%; width: 5%; max-width: 30px; }
    .tercer-icono { top: calc(30% + 90px); left: 25%; width: 5%; max-width: 30px; }
    .cuarto-icono { top: calc(30% + 135px); left: 25%; width: 5%; max-width: 30px; }
}

@media (max-width: 428px){
    
    .primera { top: 15%; left: 20%; width: 60%; }
    .segunda { top: 8%; left: 6%; width: 40%; }
    .tercera { top: 56%; left: 45%; width: 48%; }
    .cuarta { top: 8%; left: 65%; width: 30%; }
    .quinta { top: 48%; left: 5%; width: 30%; }

    .primer-icono { top: calc(20% + 0px); left: 10%; width: 5%; max-width: 30px; }
    .segundo-icono { top: calc(20% + 45px); left: 10%; width: 5%; max-width: 30px; }
    .tercer-icono { top: calc(20% + 90px); left: 10%; width: 5%; max-width: 30px; }
    .cuarto-icono { top: calc(20% + 135px); left: 10%; width: 5%; max-width: 30px; }
}

@media (max-width: 320px){
    .titulo-portada h1{
        font-size: 2em;
    }
    .contenido-portada{
        margin-bottom: 0px;
    }
    .contenido-portada button {
        font-size: 1em;
    }

    .primera { top: 15%; left: 25%; width: 50%; }
    .segunda { top: 8%; left: 6%; width: 40%; }
    .tercera { top: 60%; left: 45%; width: 50%; }
    .cuarta { top: 8%; left: 65%; width: 30%; }
    .quinta { top: 50%; left: 5%; width: 32%; }

    .primer-icono { top: calc(20% + 0px); left: 10%; width: 15%; max-width: 30px; }
    .segundo-icono { top: calc(20% + 45px); left: 10%; width: 15%; max-width: 30px; }
    .tercer-icono { top: calc(20% + 90px); left: 10%; width: 15%; max-width: 30px; }
    .cuarto-icono { top: calc(20% + 135px); left: 10%; width: 15%; max-width: 30px; }
}