html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.iframe-wrapper {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

iframe {
  position: absolute;
  border: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

iframe.active {
  opacity: 1;
  pointer-events: auto;
}

#iframe-vertical {
  height: 100dvh;
  aspect-ratio: 9 / 16;
  width: auto;
}

#iframe-horizontal {
  width: 100dvw;
  aspect-ratio: 16 / 9;
  height: auto;
}

.marca-tapada {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* puedes ajustar este valor según la marca de agua */
  background-color: #ffffff; /* mismo color que el fondo para que se funda */
  z-index: 10;
  pointer-events: none; /* no bloquea clics */
}
