
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..700;1,100..700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Condensed';
  background: #ffffff;
  height: 100vh;
}

header {
  background-color: #120949;
  color: white;
  padding: 1rem;
  text-align: center;
}


#header-secundario span{
  font-size: 12px;
}

main {
  height: auto;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


main h2{
  color: #120949;
  font-family: 'Roboto';
  font-weight: 800;
}

main p{
  color: #494809;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: start;
  align-self: center;
}

main .inicio{
  display: flex;
  flex-direction: column;
    align-items: center;
}

#animacion-lupa{
  align-self: center;
}

input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  width: 80%;
  max-width: 400px;
  margin: 1rem 0;
  background: #fff7dd;
  border: none;
  border-radius: 5px;
  text-align: start;
  
}

input[type="text"]:focus{
  outline: none;
  border: 1px solid #FF5800;
}

input[type="file"] {
  display: none;
}

label.boton-subir {
  background: #FF5800;
  color: #120949;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2rem;
  box-shadow: 0 4px #FF5800;
  font-weight: 700;
}

/* Contenedor general del bloque */
#info-final {
  display: none;
  font-family: 'Roboto Condensed';
  max-width: 800px;
  padding: 10px;
  font-weight: 800;
  margin-top: 20px;
  padding-bottom: 0px;
}



/* Cada línea (nombre o sección + botón) */
.info-linea {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* Segunda fila se comporta horizontal */
.fila-secundaria {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

/* Contenedor para sección */
.info-seccion {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* Estilo de inputs */
.info-output {
  width: 100%;
  border: none;
  border-bottom: 1px solid #FF5800;
  border-right: 1px solid #FF5800;
  outline: none;
  background: none;
  font-weight: 400;
  padding: 2px 0;
  text-align: start;
  height: 15px;
  font-size: 15px;
}

#campo-seccion{
  width: 40px;
}

/* Botón naranja */
.boton-reiniciar {
  background: #FF5800;
  color: #120949;
  font-weight: bold;
  border: none;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.212);
}

.productos-titulo{
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 20px;
}

.tarjeta {
  background: white;
  margin: 0px auto 10px;
  padding: 0;
  width: 95%;
  max-width: 800px;
  border-top: 2px solid #FF5800;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.tarjeta-cabecera {
  background-color: #F1F1F1;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  font-size: 13px;
}

.cabecera-izquierda{
  text-align: start;
}

.toggle-icon{
  width: 15px;
}

.cabecera-izquierda .nombre {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.cabecera-izquierda .ean {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #555;
  font-style: italic;
}

.cabecera-izquierda .ean em {
  
  font-weight: bold;
  color: #666;
}

.cabecera-derecha {
  text-align: right;
}

.cabecera-derecha span{
  font-weight: bold;
}

.cabecera-derecha .stock {
  border-bottom: 1px solid #FF5800;
  border-right: 1px solid #FF5800;
  display: inline-block;
  padding-bottom: 2px;
  padding-right: 5px;
  margin-bottom: 4px;
}

.cabecera-derecha .referencia {
  font-size: 0.85rem;
  color: #777;
}

.tarjeta-detalle span{
  font-weight: 500;
  font-style: italic;
  font-size: 10px;
}



.tarjeta-detalle {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  display: grid; /* se mantiene pero no se verá mientras esté colapsada */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  padding: 0px;
  background-color: #F1F1F1;
  text-align: start;
}

.tarjeta[data-abierta="true"] .tarjeta-detalle {
  padding: 10px;
  max-height: 1000px; /* lo suficientemente grande para cualquier tarjeta */
  opacity: 1;
}



.tarjeta-detalle > div {
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 12px;
}

.detalle-proveedor {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
}

.detalle-ubicacion span{
  color: #9A9898;
  font-size: 10px;
}

.detalle-ubicacion {
  color: #ffffff;
  grid-column: 3;
  grid-row: 1 / span 2;
  background: #120949;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detalle-ventas {
  grid-column: 1 / span 2;
  grid-row: 2;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detalle-ventas table {
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
  text-align: center;
}

.detalle-ventas th, .detalle-ventas td {
  border:none;
  padding: 2px;
}

.detalle-ventas td:not(:last-child),
.detalle-ventas th:not(:last-child) {
  border-right: 2px solid #FF5800;
}

.detalle-ventas table tr:first-child th {
  border-bottom: 2px solid #120949;
}


.detalle-pedidos {
  grid-column: 1;
  grid-row: 3 / span 2;
  background: #FF5800;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalle-proximo {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  background: #FF5800;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.detalle-causa {
  grid-column: 1 / span 2;
  grid-row: 5;

}

.detalle-edita {
  grid-column: 3;
  grid-row: 5;
  background: #8C8C8C;
  box-shadow: 0px 0px 5px 0px #00000046 inset;
  border-radius: 5px;
  color: #ffffff;
}

.tarjeta-pie {
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #DEDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

label{
  margin: 0px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tarjeta-pie label,
.tarjeta-pie .grupo-radio {
  font-size: 12px;
}

input.stock-real {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 4px 2px 2px;
  border-radius: 3px;
  width: 30px;
  height: 15px;
  color: black;
  font-size: 16px;
}

input.stock-real:focus{
  outline: none;
  border: 1px solid #FF5800;
}

.grupo-radio {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.grupo-radio label{
  display: inline-flex;
  align-items: center;
  gap: 0px;
}

.grupo-radio input{
  margin: 0px;
}

.grupo-radio input[type="radio"]{
  accent-color: #FF5800;

}

.btn-decision {
  height: 22px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 90px;
  font-size: 10px;
}

.estado-neutro {
  background-color: #120949;
}

.estado-pedir {
  background-color: #FF5800;
}

.estado-nopedir {
  background-color: black;
}


#boton-descargar {
  background: #FF5800;
  color: #120949;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.212);
  align-self: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.btn-decision.animar {
  animation: pulse 0.3s ease;
}
