
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --blanco: #F9F6E7;
    --verde: #E3E48D;
    --pistacho: #A8AD00;
    --marron: #5A4522;
    --naranja: #DC4405;
    --trasparente: transparent;
}


*{
  margin: 0px;
}

body{
  background-color: var(--blanco);
}

section{
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}


.contexto{
  background-color: var(--pistacho);
  font-family: rubik;
  font-size: 3rem;
  color: var(--naranja);
  text-shadow: -5px 5px 0px var(--blanco);
}

.contexto h1{
  margin-bottom: 0px;
  line-height: 4rem;
  padding-top: 40px;
}

