
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --blanco: #F9F6E7;
    --verde: #E3E48D;
    --pistacho: #A8AD00;
    --marron: #5A4522;
    --naranja: #DC4405;
    --trasparente: transparent;
}


*{
  margin: 0px;
}

body{
  background-color: var(--blanco);
}

section{
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

H2{
  font-family: rubik;
  font-size: 1.5em;
  color: var(--naranja);
  font-weight: 800;
  margin-top: 30px;
}
p{
  font-family: rubik;
  font-size: 1em;
  color: var(--marron);
}

.cabecera{
  margin-top: -40px;
}

.contenedor-modelo{
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;          
  justify-content: center; 
  align-items: center;     
}

.contenedor-modelo img{
    object-fit: cover;
    height: 100%;
    vertical-align: middle;

}
.contexto{
  border-radius: 10px;
  width: 100%;
  background-color: var(--pistacho);
  font-family: rubik;
  font-size: 3em;
  color: var(--naranja);
  text-shadow: -5px 5px 0px var(--blanco);
  
}

.introduccion-contenido{
  width: 100%;
}

.contexto h1{
  line-height: 4rem;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.introduccion{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}


/*//*/
.marquesina-superior{
  width: 100%;
  max-width: 120%;
  overflow: hidden;
  background-color: var(--naranja);
  margin-top: 5px;
  transform: rotate(-3deg);
  position: relative;
  z-index: 2;
  padding: 5px 0px;
  opacity: 0.9;
}

.marquesina-superior p{
  color: var(--blanco);
}

.marquesina-superior div{
  display: flex;
  gap: 50px;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquesina-inferior{
  width: 100%;
  max-width: 120%;
  overflow: hidden;
  background-color: var(--trasparente);
  margin-top: 5px;
  transform: rotate(2deg);
  position: relative;
  z-index: 1;
}

.marquesina-inferior p{
  color: var(--marron);
  white-space: nowrap;
  font-weight: 700;
}

.marquesina-inferior div{
  display: flex;
  gap: 50px;
  animation: marquesinaInferior 20s linear infinite;
  -webkit-animation: marquesinaInferior 20s linear infinite;
}

@keyframes marquesinaInferior{
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.propuesta{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}
.propuesta .contenido{
  width: 100%;
  background-color: var(--verde);
  padding: 10px;
  border-radius: 10px;
  height: 490px;
}

.propuesta .textura{
  background-color: var(--naranja);
  width: 400px;
  height: 490px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.propuesta .textura img{
  scale: 1.2;
  margin-left: 5px;
  margin-top: 20px;
  z-index: 0;
}

.propuesta .contenido div{
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.propuesta .contenido div img{
  width: 15px;
}

.tipografia{
  border-radius: 10px;
  background-color: var(--marron);
  margin-top: 10px;
}

.tipografia h2{
  color: var(--verde);
  margin-top: 0px;
  padding: 20px 10px 0px;
}

.tipografia p{
  color: var(--blanco);
  padding: 10px;
}

.tipografia span{
  display: block;
  font-family: rubik;
  font-size: 7em;
  font-weight: 900;
  text-align: center;
  color: var(--verde);
  animation: palpitar 2s ease-in-out infinite;
}

@keyframes palpitar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.colores {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
height: 600px;
margin-top: 10px;
position: relative;
}

.codigo-colores{
  column-count: 2;
  column-gap: 0px;
  display: block;
  height: auto;
}
.salto-columna{
  break-before: column;
}

.colores div{
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
  
}

.colores div:hover{
  scale: 1.02;
  box-shadow: 0px 0px 4px 0px #00000059;
  transition: all 0.5s;
      z-index: 10;
}

.blanco { 
  background-color: var(--blanco);
  grid-area: 1 / 1 / 2 / 2; 
}
.blanco p{
  color: var(--pistacho);
  max-width: 240px;
}

.verde { 
  background-color: var(--verde);
  grid-area: 1 / 2 / 2 / 3; 
}
.verde p{
  color: var(--naranja);
  max-width: 240px;
}
.pistacho { 
  background-color: var(--pistacho);
  grid-area: 1 / 3 / 3 / 4; 
}
.pistacho p{
  color: var(--marron);
  max-width: 240px;
}
.naranja { 
  background-color: var(--naranja);
  grid-area: 3 / 2 / 4 / 4; 
}
.naranja p{
  color: var(--verde);
  max-width: 240px;
}
.imagen { 
  grid-area: 2 / 1 / 3 / 3; 
}
.marron { 
  background-color: var(--marron);
  grid-area: 3 / 1 / 4 / 2; 
}
.marron p{
  color: var(--blanco);
  max-width: 240px;
}

.colores .imagen{
  overflow: hidden;
  padding: 0px;
}

.colores .imagen img{
  width: 100%;
}

.colores .titulo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  right: 180px;
  animation: rotacionInfinita 20s linear infinite;
  pointer-events: none;
}

@keyframes rotacionInfinita {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imagotipo{
  display: flex;
  flex-direction: column;

  padding-bottom: 40px;
  
}

.imagotipo H2{
  padding: 20px 10px 0px;
}

.imagotipo span{
  font-family: rubik;
  font-weight: 600;
  color: var(--marron);
}

.imagotipo .nombre{
  width: 150px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 1;
  transition: all 0.3s ease;
}

.imagotipo .variantes .img{
  width: 100%;
  max-height: 150px;
  max-width: 300px;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.imagotipo .proporciones .img{
  width: 100%;
  max-height: 150px;
  max-width: 300px;
}

.imagotipo .variantes, .imagotipo .proporciones{
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.variantes div {
  display: flex;
  position: relative;
}





.imagotipo .variantes .activo  .img{

  opacity: 1;
}

.imagotipo .variantes .activo  .nombre{
  opacity: 0;
  transition: transform 0.3s ease;
}

.mostrar-contenedor {
  padding: 0px 10px 40px;
  cursor: pointer;
}

/*//*/

.variaciones{
  padding-top: 20px;
}

.variaciones .grid {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "textura1 textura1 combinacion2 combinacion2 combinacion3"
    "combinacion1 combinacion1 combinacion2 combinacion2 combinacion4"
    "combinacion1 combinacion1 combinacion7 combinacion6 combinacion5"
    "titulo titulo imagen1 imagen1 imagen1"
    "imagen2 imagen2 imagen1 imagen1 imagen1"
    "imagen2 imagen2 imagen1 imagen1 imagen1"
    "imagen3 imagen3 imagen3 imagen3 imagen4"
    "imagen3 imagen3 imagen3 imagen3 imagen4";
}

.variaciones .item{
  border-radius: 10px;
  overflow: hidden;

}

.variaciones img{
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}

.variaciones H2{
  margin: 0PX;
}

.variaciones .combinacion1 { 
  grid-area: combinacion1;
}
.variaciones .combinacion2 { grid-area: combinacion2; }
.variaciones .combinacion3 { 
  grid-area: combinacion3;
  background-color: #000000;
}
.variaciones .combinacion4 { 
  grid-area: combinacion4; 
  background-color: #ffffff;
}
.variaciones .combinacion5 { 
  grid-area: combinacion5;
  background-color: var(--naranja);
 }
.variaciones .combinacion6 { 
  grid-area: combinacion6;
  background-color: var(--pistacho);
 }
.variaciones .combinacion7 { 
  grid-area: combinacion7;
  background-color: var(--verde);
 }
.variaciones .textura1 { 
  grid-area: textura1;
 }
.variaciones .titulo { grid-area: titulo; }
.variaciones .imagen1 { grid-area: imagen1; }
.variaciones .imagen2 { grid-area: imagen2; }
.variaciones .imagen3 { grid-area: imagen3; }
.variaciones .imagen4 { grid-area: imagen4; }


