@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Thin.ttf) format('truetype');
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
}

h1 {
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
  line-height: 0.9;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}


:root {
    --h1: 3em;
    --h2: 2em;
    --h3: 1.5em;
    --p: 1em;
    --negro: #1d1d1d;
    --blanco: #eadec4;
    --amarillo: #c6a857;
    --naranja: #ed8e6a;
    --azul: #a7d5f3;
    --trasparente: transparent;
    --font-family: "Brother", Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100dvh;
    width: 100dvw;
}

main::-webkit-scrollbar {
    display: none; 
}
section{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    scroll-snap-align: start;
    position: relative;
    /*box-shadow: 0px 70px 57px -20px var(--negro) inset;*/
}

.nombre-proyecto.uno {
    background-color: var(--negro);
}
.nombre-proyecto.dos {
    background-color: var(--azul);
}
.nombre-proyecto.tres {
    background-color: var(--amarillo);
}

nav{
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding: 14px 5px 0px 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    mix-blend-mode: difference;
    z-index: 2;
}
nav span{
    font-style: italic;
}

nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    
}

nav p{
    color: var(--blanco);
    font-weight: 200;

}

nav .var{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    border: solid 1.5px var(--amarillo);
    border-bottom: none;
    border-left: none;
    padding-right: 9px;
}

.nav-var-scroll{
    width: 30px;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
    padding: 5px;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    mix-blend-mode: difference;
}

.puntos-scroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
}

.puntos-scroll div{
    height: 10%;
    width: 5px;
    background-color: var(--amarillo);
    margin: 3px 0px;
    border-radius: 5px 5px 5px 5px;
    transition:  0.5s ease-in-out;
}

.puntos-scroll div.activo{
    height: 100%;
    border: solid 1.5px var(--amarillo);
    background-color: var(--trasparente);
}

.flecha-pie{
    height: 50px;
    margin-top: 3px;
    border-right: var(--amarillo) solid 1.5px;
    transition:  0.5s ease-in-out;
}

.marca-agua{
    margin: 14px;
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    align-items: end;
    position: absolute;
    height: 20px;
    mix-blend-mode: difference;
    z-index: 2;
}

.titulo-portada{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 14px;
    margin-right: 40px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 255, 0) 41%)
    
}

.contenido-portada{
    margin-bottom: 30px;
    max-width: 600px;
}


.caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18px;
    gap: 5px;
    width: 220px;
    font-size: 0.85em;
    align-items: center;
    
}


.contenido-portada button{
    width: 180px;
    height: 40px;
    border-radius: 0px;
    border: solid 1.5px var(--negro);
    background-color: #66666631;
    color:var(--negro);
    
    margin-bottom: 10px;
    font-family: "Brother", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    backdrop-filter: blur(10px);
    
}

p.caracteristicas{
    margin-bottom: 3px;
    font-weight: 600;
    font-style: italic;
    color: var(--negro);
    
    
}

.fondo-portada{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.fondo-portada img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    object-position: center;
    
}

.boton-proyecto svg{
    height: 50px;
    fill: #000000;
}

/*.frame-proyecto{
    background-color: var(--blanco);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
