@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Thin.ttf) format('truetype');
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-Black.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: brother;
    src: url(/recursos/Tipografia/brother1816-TTF/Brother1816-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
}

h1 {
  font-family: "Brother", Arial, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
  line-height: 0.9;
}

h2 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h2);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
}

h3 {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--h3);
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
}

p {
  font-family: "Brother", Arial, sans-serif;
  font-size: var(--p);
  margin-bottom: 10px;
  font-weight: 600;
}


:root {
    --h1: 3em;
    --h2: 2em;
    --h3: 1.5em;
    --p: 1em;
    --negro: #1d1d1d;
    --blanco: #eadec4;
    --amarillo: #c6a857;
    --naranja: #ed8e6a;
    --azul: #a7d5f3;
    --trasparente: transparent;
    --font-family: "Brother", Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

main{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100dvh;
    width: 100dvw;
}
.no-scroll {
    overflow: hidden;
}

main::-webkit-scrollbar {
    display: none; 
}
section{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    scroll-snap-align: start;
    position: relative;
    /*box-shadow: 0px 70px 57px -20px var(--negro) inset;*/
}

.disenio-grafico{
    background-color: var(--amarillo);
}
.ux-ui{
    background-color: var(--naranja);
}
.desarrollador{
    background-color: var(--azul);
}

.nombre-proyecto.uno {
    background-color: var(--negro);
}
.nombre-proyecto.dos {
    background-color: var(--azul);
}
.nombre-proyecto.tres {
    background-color: var(--amarillo);
}

nav{
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    padding: 14px 5px 0px 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    mix-blend-mode: difference;
    z-index: 2;
}
nav span{
    font-style: italic;
}

nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: "Brother", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    
}

nav p{
    color: var(--blanco);
    font-weight: 200;

}

nav .var{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    border: solid 1.5px var(--amarillo);
    border-bottom: none;
    border-left: none;
    padding-right: 9px;
}

.nav-var-scroll{
    width: 30px;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
    padding: 5px;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    mix-blend-mode: difference;
}

.puntos-scroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
}

.puntos-scroll div{
    height: 10%;
    width: 5px;
    background-color: var(--amarillo);
    margin: 3px 0px;
    border-radius: 5px 5px 5px 5px;
    transition:  0.5s ease-in-out;
}

.puntos-scroll div.activo{
    height: 100%;
    border: solid 1.5px var(--amarillo);
    background-color: var(--trasparente);
}

.flecha-pie{
    height: 50px;
    margin-top: 3px;
    border-right: var(--amarillo) solid 1.5px;
    transition:  0.5s ease-in-out;
}

.marca-agua{
    margin: 14px;
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    align-items: end;
    position: absolute;
    height: 20px;
    mix-blend-mode: difference;
    z-index: 15;
    
}

.titulo-portada{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 14px;
    margin-right: 40px;
    color: var(--amarillo);
    mix-blend-mode: difference;
    z-index: 10;
}

.contenido-portada{
    margin-bottom: 15px;
    max-width: 600px;
    padding: 14px;
    margin-left: -14px;
    
}


.caracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18px;
    gap: 5px;
    width: 220px;
    font-size: 1em;
    align-items: center; 
    mix-blend-mode: difference;
}


p.caracteristicas{
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--amarillo);
}

.portada{
    width: 40%;
    max-width: 500px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;     
}

.portada img{
    display: block;
    width: 100%;
}

.portada div{
    border-radius: 5px;
    box-shadow: 0px 0px 7px 1px #0000003b;
    overflow: hidden;
    display: inline-block;
    position: absolute;
}

.portada .primera{
    width: 100%;
    z-index: 1;
    
}
.portada .segunda{
    box-shadow: 0px 0px 7px 1px #00000059;
    z-index: 2;
    width: 60%;
    max-width: 250px;
    min-width: 100px;
    top: -30px;
    left: -100px;

}
.portada .tercera{
    box-shadow: 0px 0px 7px 1px #00000059;
    z-index: 2;
    width: 60%;
    max-width: 350px;
    min-width: 150px;
    bottom: 50px;
    right: -250px;
}
.portada .cuarta{
    box-shadow: 0px 0px 7px 1px #00000059;
    z-index: 1;
    width: 60%;
    max-width: 350px;
    min-width: 80px;
    top: -40px;
    right: -380px;
    
}
.portada .quinta{
    box-shadow: 0px 0px 7px 1px #00000059;
    z-index: 2;
    width: 50%;
    max-width: 350px;
    min-width: 100px;
    bottom: -40px;
    left: -220px;
    
}
.portada .primer-icono{
    top: 80px;
    left: -60px;
    width: 50px;
    height: 50px;
    z-index: 0;
    border-radius: 0px;
    box-shadow: none;
    
}
.portada .segundo-icono{
    top: 150px;
    left: -60px;
    width: 50px;
    height: 50px;
    z-index: 0;
    border-radius: 0px;
    box-shadow: none;
}
.portada .tercero-icono{
    top: 220px;
    left: -60px;
    width: 50px;
    height: 50px;
    z-index: 0;
    border-radius: 0px;
    box-shadow: none;
}
.portada .cuarto-icono{
    top: 290px;
    left: -60px;
    width: 50px;
    height: 50px;
    z-index: 0;
    border-radius: 0px;
    box-shadow: none;
}
.contenido-portada button{
    background-color: var(--amarillo);
    padding: 10px 30px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    mix-blend-mode: difference;
    font-family: "Brother", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: var(--negro);
    border:var(--amarillo) solid 2px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.contenido-portada span{
    font-style: italic;
    font-weight: 400;

}

.contenido-portada button:hover{
    background-color: var(--trasparente);
    color: var(--amarillo);
}

.modal-proyecto{
    background-color: #1d1d1dc7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 14px;
    padding-top: 40px;
    padding-bottom: 35px;
    display: block;
    transition:  0.2s ease-in-out;
    
}

.modal-proyecto.oculto{
    opacity: 0;
    scale: 0;
    visibility: hidden;
    
    
}

.modal-proyecto iframe{
    box-shadow: 0px 0px 7px 1px #0000008f;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.modal-proyecto .titulo{
    position: absolute;
    top: 14px;
    margin-bottom: 0px;
    color: var(--blanco);
}

.modal-proyecto span{
    font-weight: 200;
    font-style: italic;
}

.modal-proyecto button{
    position: absolute;
    top: 20px;
    right: 14px;
    border: 0px;
    display: flex;
    gap: 2px;
    background-color: var(--trasparente);
    font-weight: 700;
    color: var(--blanco);
    align-items: flex-end;
    cursor: pointer;
}


.modal-proyecto button span{
    font-size: 10px;
    font-weight: 200;
}

.modal-proyecto .rrss{
    color: var(--amarillo);
    font-family: "Brother", Arial, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
}

.modal-proyecto .rrss a{
    color: var(--amarillo);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 4em;
    }
    .contenido-portada button{
        font-size: 2em;
        padding: 10px 20px;
    }
    .contenido-portada{
        margin-bottom: -10px;
    }

    .portada .primera{
        top: -40px;
    }
    .portada .segunda{
        top: -90px;
        left: -170px;
    }
    .portada .tercera{
        bottom: -30px;
        right: -150px;
    }
    .portada .cuarta{
        top: -70px;
        right: -260px;
    }
    .portada .quinta{
        bottom: 80px;
        left: -170px;
    }

    .portada .primer-icono{
        top: 10px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .segundo-icono{
        top: 70px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .tercero-icono{
        top: 130px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .cuarto-icono{
        top: 190px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 3em;
    }
    .contenido-portada button{
        font-size: 2em;
        padding: 2px;
    }
    .contenido-portada{
        margin-bottom: -10px;
    }

    .portada .primera{
        top: -40px;
    }
    .portada .segunda{
        top: -70px;
        left: -150px;
    }
    .portada .tercera{
        bottom: -50px;
        right: -150px;
    }
    .portada .cuarta{
        top: -90px;
        right: -160px;
    }
    .portada .quinta{
        bottom: -60px;
        left: -80px;
    }

    .portada .primer-icono{
        top: 40px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .segundo-icono{
        top: 100px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .tercero-icono{
        top: 160px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
    .portada .cuarto-icono{
        top: 220px;
        left: -60px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 3em;
    }
    .contenido-portada button{
        font-size: 2em;
        padding: 2px;
    }
    .contenido-portada{
        margin-bottom: -10px;
    }

    .portada .primera{
        top: -40px;
    }
    .portada .segunda{
        top: -70px;
        left: -70px;
    }
    .portada .tercera{
        bottom: -50px;
        right: -50px;
    }
    .portada .cuarta{
        top: -70px;
        right: -60px;
    }
    .portada .quinta{
        bottom: -60px;
        left: -80px;
    }

    .portada .primer-icono{
        top: -10px;
        left: -60px;
        width: 30px;
        height: 30px;
    }
    .portada .segundo-icono{
        top: 30px;
        left: -60px;
        width: 30px;
        height: 30px;
    }
    .portada .tercero-icono{
        top: 70px;
        left: -60px;
        width: 30px;
        height: 30px;
    }
    .portada .cuarto-icono{
        top: 110px;
        left: -60px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 320px) {
    h1{
        font-size: 2em;
    }
    .contenido-portada button{
        font-size: 1em;
        padding: 2px;
    }
    .contenido-portada{
        margin-bottom: -10px;
    }

    .portada .primera{
        top: -40px;
    }
    .portada .segunda{
        top: -60px;
        left: -70px;
    }
    .portada .tercera{
        bottom: -50px;
        right: -50px;
    }
    .portada .cuarta{
        top: -70px;
        right: -60px;
    }
    .portada .quinta{
        bottom: -15px;
        left: -80px;
    }

    .portada .primer-icono{
        top: -10px;
        left: -60px;
        width: 20px;
        height: 20px;
    }
    .portada .segundo-icono{
        top: 20px;
        left: -60px;
        width: 20px;
        height: 20px;
    }
    .portada .tercero-icono{
        top: 50px;
        left: -60px;
        width: 20px;
        height: 20px;
    }
    .portada .cuarto-icono{
        top: 80px;
        left: -60px;
        width: 20px;
        height: 20px;
    }
}

